%form.form-horizontal{:method=>"post", :action=>"/"}
  %legend Input your Tumblr application's OAuth keys.
  %div.control-group
    %label.control-label Consumer Key
    %div.controls
      %input.input-xxlarge{:name=>"consumer_key"}
  %div.control-group
    %label.control-label Consumer Secret Key
    %div.controls
      %input.input-xxlarge{:name=>"consumer_secret"}
  %div.form-actions
    %button.btn.btn-primary{:type=>"submit"} Request access token
