%form.form-horizontal
  %legend Success!
  %div.control-group
    %label.control-label Consumer Key
    %div.controls
      %span.input-xxlarge.uneditable-input #{@consumer_key}
  %div.control-group
    %label.control-label Consumer Secret Key
    %div.controls
      %span.input-xxlarge.uneditable-input #{@consumer_secret}
  %div.control-group
    %label.control-label Access Token
    %div.controls
      %label.key #{@access_token}
  %div.control-group
    %label.control-label Access Token Secret
    %div.controls
      %label.key #{@access_token_secret}
