%form.form-horizontal
  %legend Success!
  %div.control-group
    %label.control-label Consumer Key
    %div.controls
      %label.key #{@consumer_key}
  %div.control-group
    %label.control-label Consumer Secret Key
    %div.controls
      %label.key #{@consumer_secret}
  %div.control-group
    %label.control-label Access Token
    %div.controls
      %label.key.success 
        %strong #{@access_token}
  %div.control-group
    %label.control-label Access Token Secret
    %div.controls
      %label.key.success
        %strong #{@access_token_secret}
